# Python
*.py[cod]
*.pyc
*.pyo
*.egg-info/
*.egg
*.venv/
*.virtualenv/
__pycache__/
build/
dist/
.Python
db.sqlite3
*.sqlite

# ROS (Robot Operating System)
devel/
build/
logs/
*.bag
*.bag.active
*.bag.orig

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# MATLAB or Simulink
prescan/examples/PrescanDemoAMC/*.slxc
prescan/examples/PrescanDemoAMC/*.slx
prescan/examples/PrescanDemoAMC/*.pb
prescan/examples/PrescanDemoAMC/*.references
prescan/examples/PrescanDemoAMC/*.tunable
prescan/examples/PrescanDemoAMC/*.mat
prescan/examples/PrescanDemoAMC/*.asv
prescan/examples/PrescanDemoAMC/*.r2018b

# Others
*.swp
*.swo
*.swn
*.DS_Store
*.log

# Prescan
prescan/examples/PrescanDemoAMC/+bus_conv_fcns/*
prescan/examples/PrescanDemoAMC/Models/*
prescan/examples/PrescanDemoAMC/Temp/*
prescan/examples/PrescanDemoAMC/slprj/*
prescan/examples/PrescanDemoAMC/Actors/*
prescan/examples/PrescanDemoAMC/log/*
prescan/examples/PrescanDemoAMC/Results/*
prescan/examples/PrescanDemoAMC/*.xml
prescan/examples/PrescanDemoAMC/*.backup

# If you have a specific environment or other sensitive files
.env
