# Python
*.py[cod]
*.pyc
*.pyo
*.egg-info/
*.egg
*.venv/
*.virtualenv/
__pycache__/
build/
dist/
.Python
db.sqlite3
*.sqlite

# ROS (Robot Operating System)
devel/
build/
logs/
*.bag
*.bag.active
*.bag.orig

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# MATLAB or Simulink
prescan/examples/*/*.slxc
prescan/examples/*/*.slx
prescan/examples/*/*.pb
prescan/examples/*/*.references
prescan/examples/*/*.tunable
prescan/examples/*/*.mat
prescan/examples/*/*.asv
prescan/examples/*/*.r2018b

# Others
*.swp
*.swo
*.swn
*.DS_Store
*.log

# Prescan
prescan/examples/*/+bus_conv_fcns/*
prescan/examples/*/Models/*
prescan/examples/*/Temp/*
prescan/examples/*/slprj/*
prescan/examples/*/Actors/*
prescan/examples/*/log/*
prescan/examples/*/Results/*
prescan/examples/*/*.xml
prescan/examples/*/*.backup

# If you have a specific environment or other sensitive files
.env
